.make-review {
  textarea {
    resize: none;
  }

  .fa-star {
    color: #c59c71;

    &:hover {
      color: #333;
      cursor: pointer;
    }
  }

  i.fa-star:hover ~ i.fa-star,
  i.rate-star ~ i.fa-star {
    color: #333;
  }
}

.pagination {
  .active {
    a {
      color: #fff;
      background-color: #c59c71;
      border-color: transparent;

      &:hover {
        color: #fff;
        background-color: #b6834d;
        border-color: rgba(0, 0, 0, 0);
      }
    }
  }

  li {
    a {
      color: #c59c71;

      &:hover {
        color: #fff;
        background-color: #b6834d;
        border-color: rgba(0, 0, 0, 0);
      }
    }
  }
}
