%main.container
  %h1.general-title-margin= @category ? @category.title : t('catalog.all_categories_title')
  = render 'partials/filters'
  .mb-120
    - @books.each_slice(4) do |books|
      .row.mb-25
        - books.each do |book|
          = render 'partials/book', book: book.decorate, disabled: false
    .text-center
      = paginate @books
