%main.container
  %h1.general-title-margin= @category.title
  = render 'partials/filters_show'
  .mb-120
    - @books.each_slice(4) do |books|
      .row.mb-25
        - books.each do |book|
          = render 'partials/book', book: book.decorate, disabled: false
    .text-center
      - unless @books.last_page?
        = link_to "View More", category_path(@books.first.category, page: @books.current_page + 1), class: 'btn btn-primary'
